<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeL5k0vKRUcqCHZ3BSzFjTMXJc7c9cn-0</string>
	<key>GCM_SENDER_ID</key>
	<string>917815378759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medical.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>medical-c958f</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-c958f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917815378759:ios:fd3ae16c7d1bbef0a6c262</string>
</dict>
</plist>